# Numbers

There are two types on numbers in python: ```int``` and ```float (the ones with a fractional part)```

In [21]:
## int
print(2)
print(1000000000000000000000000)
print(-3000000)
print(0)
print(-0)

2
1000000000000000000000000
-3000000
0
0

In [27]:
## float
print(2.0)
print(1000000000000000000000000.00003)
print(-3000000.00005)
print(0.0)
print(-0.0)
print(-0.05)

2.0
1e+24
-3000000.00005
0.0
-0.0
-0.05

## Addition

In [25]:
2+200

202

## Multiplication

In [11]:
2*200

400

In [16]:
200 * 1.0

200.0

## Subtraction

In [12]:
200-10

190

## Division

In [2]:
2/2 ## by default you will get float even if the answer is an integer value

1.0

In [4]:
10/3

3.3333333333333335

#### How to get floor division and discards the fractional part
use ```//``` operator

In [30]:
10 // 3

3

### Division by zero

In [5]:
10/0

ZeroDivisionError: division by zero

## Modulo
the ```%``` operator returns the remainder of the division

In [31]:
17 % 3

2

## Power
Note: if one of the operands is a float value then you will get result as a float number

In [32]:
10 ** 2

100

In [33]:
100 ** 0.5

10.0

In [35]:
200 ** 1.0

200.0

In [39]:
200.0 ** 1

200.0

## Grouping using parenthesis

In [7]:
## Without parentheses
2+10*10+3

105

In [28]:
## With parentheses
(2+10)*(10+3)

156

In [9]:
(50 - 5*6) / 4

5.0

# Variables
to store the data that can be reused in the future

In [44]:
n = 10

In [45]:
print(n)

10

In [66]:
## variable name "n" is not same as "N"
n = 10
N = 2000
print(n)
print(N)

10
2000

In [46]:
n = 100/3
print(n)

33.333333333333336

In [50]:
n = -0
print(n)

0

In [51]:
n = 3/0

ZeroDivisionError: division by zero

In [53]:
## Access variable that does not exist
print(2*k)

NameError: name 'k' is not defined

In [54]:
a = 20
b = 30
sum =  a + b
print(sum)

50

In [55]:
a = 20
b = 30
diff =  a - b
print(diff)

-10

In [58]:
a = 2
b = 3
print((a+b)**2)
print(a**2 + 2*a*b + b**2)

25
25

# Strings
They can be enclosed in single quotes ('...') or double quotes ("...")

In [59]:
'abcd'

'abcd'

In [60]:
"abcd"

'abcd'

In [62]:
s = "abc123%^&*"

In [63]:
print(s)

abc123%^&*

In [65]:
print(len(s))

10

In [67]:
"abcd 1234 fghj"

'abcd 1234 fghj'

### Strings

In [85]:
a = "aaaaaa"
b = a
print(a)
print(b)
a = "zzzzzzzz"
print(a)
print(b)

aaaaaa
aaaaaa
zzzzzzzz
aaaaaa

## Escape Character
use ```\``` before the character
<br/>
Example: <br/>
```\n``` => new line <br/>
```\'``` => '

In [73]:
"this is the first line \n this is the second line" ## \n is for new line

'this is the first line \n this is the second line'

In [75]:
val = "this is the first line \nthis is the second line"
print(val)

this is the first line
this is the second line

In [78]:
str = "Don't worry, be happy"
print(str)

Don't worry, be happy

In [79]:
str = 'Don't worry, be happy'
print(str)

SyntaxError: invalid syntax (1086208325.py, line 1)

In [84]:
str = ' Don\'t worry, be happy.\n Just say \'YES\' to everything and "NO" to nothing'
print(str)

 Don't worry, be happy.
 Just say 'YES' to everything and "NO" to nothing

If you donâ€™t want characters prefaced by \ to be interpreted as special characters, you can use raw strings by adding an r before the first quote:

In [6]:
print('C:\some\name')  # here \n means newline!
print(r'C:\some\name')  # note the r before the quote

C:\some
ame
C:\some\name

### Multiline Strings
using triple-quotes: """...""" or '''...'''

In [7]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

 ### Access part of the strings using index

In [92]:
str  = "abcdefg"
print(str[0])
print(str[1])
print(str[2])
print(str[len(str)-1])
print(str[len(str)])
print(str[100])

a
b
c
g

IndexError: string index out of range

In [131]:
## negative index: it start from -1.
print(str[-0])
print(str[-1])
print(str[-2])
print(str[-len(str)])
print(str[-6])
print(str[-7])

a
f
e
a
a

IndexError: string index out of range

### String slicing

In [102]:
str = "abcdef"
print(str[0:0])

In [133]:
print(str[0:1])
print(str[0:2])
print(str[0:3])

print(str[1:2])
print(str[3:6])

a
ab
abc
b
def
a

In [140]:
print(str[-6:-5])
print(str[-6:-4])
print(str[-6:-3])
print(str[-6:-2])
print(str[-6:-1])
print(str[-6:0]) ## won't work
print(str[-6:])
print(str[-6:1])
print(str[-6:2])
print(str[-6:3])
print(str[-6:4])
print(str[-6:5])

a
ab
abc
abcd
abcde

abcdef
a
ab
abc
abcd
abcde

In [147]:
## out of bound range
print(str[0:300])
print(str[-4:100])
print(str[-100:3])
print(str[100:3]) # won't work

abcdef
cdef
abc

In [120]:
## default index
print(str[:2]) # character from the beginning to position 2 (excluded)
print(str[2:]) # characters from position 2 (included) to the end
print(str[:])

ab
cdef
abcdef
abcd
ef
abcdef

In [122]:
## negative values
print(str[:-2]) # characters from the beginning to the second-last (excluded)
print(str[-2:]) # characters from the second-last (included) to the end
print(str[:])

abcd
ef
abcdef

In [130]:
print(str[::2]) ## step = 2
print(str[::3]) ## step = 3
print(str[::1]) ## step = 1

ace
ad
abcdef

In [121]:
print(str[::-1]) ## step = -1
print(str[::-2]) ## step = -2
print(str[::-3]) ## step = -3

fedcba
fdb
fc

### Strings are immutable
assigning to an indexed position in the string results in an error:

In [2]:
## String can be redefined
str = "abcdefg"
print(str)
str  = "0123456"
print(str)

abcdefg
0123456

In [5]:
## string values can;t be modified
str  = "abcdef"
str[0] = 'x'

TypeError: 'str' object does not support item assignment

## String Concatenation

Strings can be concatenated (glued together) with the + operator, and repeated with *:

In [8]:
3 * 'A' + 'B'

'AAAB'

Two or more string literals (i.e. the ones enclosed between quotes) next to each other are automatically concatenated.

In [10]:
'Py' 'thon'

'Python'

In [11]:
"ABC"   "DEF"  "012"

'ABCDEF012'

In [12]:
text = ("abcdefghijklmnop" "1234567890")
print(text)

abcdefghijklmnop1234567890

In [15]:
## Won't work with variable and literal combo
a = "slkemflskm"
b = "semfnksjne"
print((a b))

SyntaxError: invalid syntax (3448411261.py, line 4)

In [16]:
print(a "doijtern")

SyntaxError: invalid syntax (2906701890.py, line 1)

use ```+``` operator to concatenate variable and literals

In [20]:
a = "slkemflskm"
b = "semfnksjne"
print(a+b)
print(a +" "+"dkngslkne")

slkemflskmsemfnksjne
slkemflskm dkngslkne

In [21]:
word = "Python"

print("C"+word[1:])

Cython

## String Methods

In [30]:
## Upper and Lower
str = "abcdef"
print(str.upper())
strU = "ABCdefGH"
print(str.lower())

ABCDEF
abcdef

In [24]:
## Capitalize
print(str.capitalize())

Abcdef

In [28]:
## Split
str = "hello world, from Python"
print(str.split(" "))
print(str.split(","))
print(str.split("")) ## will not work

['hello', 'world,', 'from', 'Python']
['hello world', ' from Python']

ValueError: empty separator