# Basic tuple operations
- Tuples are ordered. They maintain a left-to-right positional ordering
- Accessed by index – Items in a tuple can be accessed using an index
- Tuples can contain any sort of object – It can be numbers, strings, lists and even other tuples.

In [29]:
# Create a tuple

# A tuple of integers
T = (1, 2, 3)

# A tuple of strings
T = ('red', 'green', 'blue')
print(T," length => ",len(T))

# A tuple with mixed datatypes
T = (1, 'abc', 1.23, True)
print(T," length => ",len(T))

# An empty tuple
T = ()
print(T," length => ",len(T))


# A tuple without parentheses
T = 1, 'abc', 1.23, True
print(T," length => ",len(T))


#nested tuple
T = ('red', ('green', 'blue'), 'yellow')
print(T," length => ",len(T))

('red', 'green', 'blue')  length =>  3
(1, 'abc', 1.23, True)  length =>  4
()  length =>  0
(1, 'abc', 1.23, True)  length =>  4
('red', ('green', 'blue'), 'yellow')  length =>  3

### Singleton Tuple
add a trailing comma when you only have one item in a tuple.

In [3]:
T = (4,)
print(type(T))

# Not a tuple if you don't add a trailing comma
T = (4)
print(type(T))

<class 'tuple'>
<class 'int'>

### Convert other data types to a tuple

In [4]:
# Convert a list to a tuple
T = tuple([1, 2, 3])
print(T)

# Convert a string to a tuple
T = tuple('abc')
print(T)

(1, 2, 3)
('a', 'b', 'c')

# Indexing and slicing

### Access items

In [13]:
T = ('red', 'green', 'blue', 'yellow', 'black')

print(T[0])
print(T[2])
print(T[-1])
print(T[-2])

red
blue
black
yellow

#### Slicing

In [15]:
print(T[2:5])
print(T[:5])
print(T[2:])
print(T[3:-1])
print(T[-5:-1])

('blue', 'yellow', 'black')
('red', 'green', 'blue', 'yellow', 'black')
('blue', 'yellow', 'black')
('yellow',)
('red', 'green', 'blue', 'yellow')

# More Basic Operations

## Change a tuple
Tuples are immutable (unchangeable). Once a tuple is created, it cannot be modified.

In [16]:
T = ('red', 'green', 'blue')
T[0] = 'black'

TypeError: 'tuple' object does not support item assignment

The tuple immutability is applicable only to the top level of the tuple itself, not to its contents. For example, a list inside a tuple can be changed as usual.

In [17]:
T = (1, [2, 3], 4)
T[1][0] = 'xx'
print(T)

(1, ['xx', 3], 4)

There some ways to change a tuple:
- convert a tuple into a list, then modify a list and then convert it back to a tuple
- add a tuple to a tuple

In [49]:
# Add an item
a_tuple = ("apple", "banana", "cherry")
print("before: ",a_tuple)
y = list(a_tuple)
y.append("orange")
a_tuple = tuple(y)
print("after: ",a_tuple)

before:  ('apple', 'banana', 'cherry')
after:  ('apple', 'banana', 'cherry', 'orange')

In [42]:
a_tuple = ("apple", "banana", "cherry")
print(a_tuple)

y = ("orange",)
a_tuple += y

print(a_tuple)

('apple', 'banana', 'cherry')
('apple', 'banana', 'cherry', 'orange')

## Delete a Tuple

You cannot delete any item from a tuple. However, you can delete the tuple completely with del keyword.

In [25]:
T = ('red', 'green', 'blue')
print(T)
del T
print(T)

('red', 'green', 'blue')

NameError: name 'T' is not defined

Similar to adding an item you can convert a tuple into a list then remove an item and then convert it back to a tuple.

In [50]:
# Remove an item
a_tuple = ("apple", "banana", "cherry")
print("before: ",a_tuple)
y = list(a_tuple)
y.remove("apple")
a_tuple = tuple(y)
print("after: ",a_tuple)

before:  ('apple', 'banana', 'cherry')
after:  ('banana', 'cherry')

## Concatenation & Repetition

In [26]:
# Concatenate
T = ('red', 'green', 'blue') + (1, 2, 3)
print(T)


# Replicate
T = ('red',) * 3
print(T)

('red', 'green', 'blue', 1, 2, 3)
('red', 'red', 'red')

## Check if item exists in a tuple

In [30]:
# Check for presence
T = ('red', 'green', 'blue')
if 'red' in T:
    print('yes')

# Check for absence
T = ('red', 'green', 'blue')
if 'yellow' not in T:
    print('yes')

yes
yes

## Iterate through a tuple

In [31]:
T = ('red', 'green', 'blue')
for item in T:
    print(item)

red
green
blue

## Sorting

In [32]:
# Option 1: Use the built-in sorted() method that accepts any sequence object.
T = ('cc', 'aa', 'dd', 'bb')
print(tuple(sorted(T)))

('aa', 'bb', 'cc', 'dd')

In [33]:
# Option 2: Convert a tuple into a list, then sort and then convert it back to a tuple
T = ('cc', 'aa', 'dd', 'bb')
tmp = list(T)    # convert tuple to list
tmp.sort()       # sort list
T = tuple(tmp)   # convert list to tuple
print(T)

('aa', 'bb', 'cc', 'dd')

## Tuple Unpacking

In [9]:
T = ('red', 'green', 'blue', 'cyan')
(a, b, c, d) = T

print(a)
print(b)
print(c)
print(d)

red
green
blue
cyan

In [11]:
# Common errors in tuple unpacking

T = ('red', 'green', 'blue', 'cyan')
(a, b) = T

ValueError: too many values to unpack (expected 2)

In [10]:

T = ('red', 'green', 'blue')
(a, b, c, d) = T

ValueError: not enough values to unpack (expected 4, got 3)

# Built-in functions

### Count:
Returns the count of specified item in the tuple

In [36]:
T = ('red', 'green', 'blue','red')
print(T.count('red'))
print(T.count('orange'))

2
0

### Index

In [37]:
T = ('red', 'green', 'blue','red')
print(T.index('red'))
print(T.index('orange'))

0

ValueError: tuple.index(x): x not in tuple